*{
    border: 0ch;
    padding: 0%;
    margin: 0px;
}
body{
    padding: 15px;
    font-family: Open Sans,Geneva,sans-serif;
}
header{
    position: relative;
    left: 30%;
    width: 450px;
    height: 80px;
    text-align: center;
    margin-left: 50px;
}
header h1{
    font-size: 40px;
    box-shadow: black 5px 5px 5px 5px;
}
main{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 185px;
    left: 180px;
}
.linha{
    margin: 10px;
    display: flex;
    width: fit-content;
    height: auto;
}
.colum{
    margin: 10px;
    border-radius: 5px;
    height: 65px;
    width: 65px;
}
.colum p{
    position: relative;
    top: 7px;
    left: 7px;
}
.colum h1{
    position: relative;
    top: 5%;
    left: 29%;
}
.c18{
    margin: 0%;
    position: relative;
    left: 1000%;
}
.gn{
    background-color: #3d9ee3;
}
#hidrogenio{
    background-color: #a1d344;
}
#he{
    position: relative;
    left: 15%;
}