*{
    border: 0ch;
    padding: 0%;
    margin: 0px;
}
body{
    padding: 15px;
    font-family: Open Sans,Geneva,sans-serif;
}
header{
    position: relative;
    left: 30%;
    width: 450px;
    height: 80px;
    text-align: center;
    margin-left: 50px;
}
header h1{
    font-size: 40px;
    box-shadow: black 5px 5px 5px 5px;
}
table{
    margin: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 2px;
    left: 10px;
}
tr{
    display: flex;
    width: fit-content;
    height: auto;
}
td{
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    min-height: 50px;
    min-width: 50px;
    width: auto;
}
td p{
    position: relative;
    top: 3px;
    left: 1px;
}
td h1{
    font-size: 30px;
    position: relative;
    top: 5%;
    left: 29%;
}
#he h1{
    position: relative;
    left:16%;
}
#ajuste h1{
    position: relative;
    left: 18%;
}
#ajuste2 h1{
    position: relative;
    left: 42%;
}
.gn{
    background-color: #3d9ee3;
}
.nm{
    background-color: #a1d344;
}
.ma{
    background-color: #f1b200;
}
.mat{
    background-color:#eada00;   
}
.sm{
    background-color: #4db6ac;
}
.h{
    background-color:#70cbeb;
}
.om{
    background-color:#a2c7d3;
}
.mt{
    background-color:#eb8e8e;
}
.la{
    background-color: #90e3e9;
}
.ac{
    background-color:#dcadd6;
}